
body {
    font-family: helvetica;
    //background-color: white;
    margin-top: 5px; 
   }

.center {
    text-align: center;
}

.text-big {
    font-size:200%;
}

.bold {
    font-weight: bold;
}
.img-medium {
    height: 200px;
}
.container {
width:800px;
margin:0 auto;
padding-top:50px;
padding-left:20px;
background-color:lightgrey;
border:1px solid grey;
}

hr { color:maroon;}
label { font-family:Arial;font-size:15px;
}
table { border:2px double white;
}
td,th {padding:2px;font-family:sans-serif,helvetica;font-size:15px;}


 .profile-photo {
    
    height:140px;
    width:140px;
    border-radius:70px;
    
    }
.photo-container{
    width:150px; 
    height:150px;
    margin-left:300px;
    border:1px solid blue;
}
a{
    color:khaki;
    font-family:sans-serif;
    font-size:20px;
}

a::hover{
    color:orangered;
    font-family:sans-serif;
    font-size:20px;
}



.orange{
    color:orange;
}

.mint{
    color:yellowgreen;
}

.space{
    padding-top:30px;

}

.address{
    font-family:monospace;
    line-height: 40px;
}

.loader {
    border-top: 3px solid blue;
    border-bottom: 3px solid yellow;
    border-right: 3px solid deeppink;
    border-left: 3px solid orangered;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    text-align: center;
    margin-left: 537px;
    margin-top: 99px;
    animation: spin 6s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.input-box{
    width: 250px;
    height: 25px; 
    border-radius: 5px;
    font-family:monospace;
    font-size:20px;
    color:yellow;
    border: 2px solid greenyellow;
}

.input-text{
    width: 530px;
    height: 250px; 
    border-radius: 5px;
    font-family:monospace;
    font-size:20px;
    color:yellow;
    border: 2px solid greenyellow;
}

.post-btn{
    width:180px;
    height:40px;
    border-radius: 5px;
    color:yellowgreen;
    font-family:monospace;
    font-size:20px;
    font-weight: bold;
    background-color: darkblue;
    cursor: pointer;
}

.form{
    margin-left:20px;
}

.username{
    font-size: 15px;
    font-weight: lighter;
    color:yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment{
    font-size: 15px;
    font-family: monospace;
    color:hotpink;
}


.loader2 {
    border-top: 3px dashed blue;
    border-bottom: 3px dashed yellow;
    border-right: 3px dashed deeppink;
    border-left: 3px dashed orangered;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    text-align: center;
    margin-left: 558px;
    margin-top: -202px;
    animation: spin 3s linear infinite;
}

.loader3 {
    border-top: 3px solid blue;
    border-bottom: 3px solid yellow;
    border-right: 3px solid deeppink;
    border-left: 3px solid orangered;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    margin-left: 581px;
    margin-top: -159px;
    animation: spin 6s linear infinite; 
}

.loader4 {
    border-top: 3px dashed blue;
    border-bottom: 3px dashed yellow;
    border-right: 3px dashed deeppink;
    border-left: 3px dashed orangered;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    text-align: center;
    margin-left: 616px;
    margin-top: -105px;
    animation: spin 1s linear infinite;
}
