
body {
    font-family: helvetica;
    background-color: white;
    margin-top: 5px; 
   }
 ul,li {
      list-style-type:none;
      display:inline-block;
      padding:1px;
      }
 a:hover{ background-color:#121212;
          color:#bfbfbf;
     }

.center {
    text-align: center;
}

.text-big {
    font-size:200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


.container {
width:800px;
margin:0 auto;
background-color:white;
border:1px solid grey;
}

hr { color:maroon;}
label { font-family:Arial;font-size:15px;
}
table { border:2px double white;
}
td,th {padding:2px;font-family:sans-serif,helvetica;font-size:15px;}


 .profile-photo {
    
    height:100px;
    width:100px;
    border-radius:50px;
    border:1px solid lightgrey;
    }
     