
body {
    font-family: helvetica;
    background-color: teal;
    margin-top: 75px; color:maroon;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

ul{ list-style-type:none;
text-decoration:none;
}